{{ $img := `images/blog-banner.png` | absURL }}
{{ $description :=  .Site.Params.description | default .Summary }}
<link rel="canonical" href="{{ .Permalink | absURL }}" />
<meta name="image" content="{{ $img | absURL }}">

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink | absURL }}" />
<meta property="og:image" content="{{ $img | absURL }}" />
<meta property="og:description" content="{{ $description }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@VanpariyaRonakJ">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $img | absURL }}">