
----
### Thank You
If it is helpful and saves your valuable **Time** ⏱ please show your support 👇.

Thank you and canva ( For Beautiful designs ). Thanks for the reading 👍.

#### Have any doubts or suggetions 🤔.
 
Feel free to [connect]({{ ref . "contact" }}) social media platform given on this page :- [Contact page]({{ ref . "contact" }})


<a href="https://www.buymeacoffee.com/vanpariyar" rel="noopener noreferrer" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" style="height: 51px !important;width: 217px !important;" ></a>

OR

[Join Buy me A Coffee](https://buymeacoff.ee/?via=vanpariyar) ( I will recieve small commition by signing, You don,t have to pay any money )


<div class="nav-links"><span class="prev page-numbers placeholder" aria-hidden="true"><span aria-hidden="true">←</span> <span class="nav-prev-text">Newer <span class="nav-short">Posts</span></span></span><span aria-current="page" class="page-numbers current">1</span>
    <a class="page-numbers" href="https://kikolani.com/page/2/">2</a>
    <span class="page-numbers dots">…</span>
    <a class="page-numbers" href="https://kikolani.com/page/22/">22</a>
    <a class="next page-numbers" href="https://kikolani.com/page/2/"><span class="nav-next-text">Older <span class="nav-short">Posts</span></span> <span aria-hidden="true">→</span></a>
</div>